.card{
    width: 280px;
    height: 440px;
    padding: 8px;
    background-color: #ffffff;
}
.card-container h2{
    text-align: center;
}

.photo{
    width: 280px;
    border-radius: 10px;
}
.price-credit{
    display: flex;
    justify-content: space-between;
}
.btn{
    border-radius: 8px;
    border: 1px solid #2F80ED;
    background: #2F80ED; 
    width: 100%;
    color: wheat;
}