.card{
    width: 250px;
    height: 440px;
    padding: 8px;
    background-color: #ffffff;
}
.container{
    display: flex;
}
.card-container h2{
    text-align: center;
}

.photo{
    width: 250px;
    border-radius: 10px;
    height: 150px;
}
.price-credit{
    display: flex;
    justify-content: space-between;
}
.btn{
    border-radius: 8px;
    border: 1px solid #2F80ED;
    background: #2F80ED; 
    width: 100%;
    color: wheat;
}

.card-container{
    width: 70%;
}
.allCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}